
// Color system
$white: #fff;
$black: #000;
$blue: #00E1FF;
$pink: #FF0080;
$green: #80C342;

//Fonts

$font: 'Open Sans', sans-serif;

// stylelint-enable value-keyword-case

$font-size-base:              1.125rem; // Assumes the browser default, typically `16px`
$font-size-xl:                $font-size-base * 1.375;
$font-size-lg:                $font-size-base * 1.25;
$font-size-md:                $font-size-base * 1.125;
$font-size-sm:                $font-size-base * 0.875;

$line-height-base:            1.5;

$headings-font-family:        null;
$headings-font-weight:        700;

$lead-font-weight:            400;


//layout 
$xxl: 1200px;
$xl: 1200px;


//General Styles
body {
    font-family: $font;
}

.layout {
    width: 100%;
    max-width: $xl;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1920px) {
    .layout {
        max-width: 1130px;
    }
}

@media (max-width: 1400px) {
    .layout {
        max-width: 1125px;
    }
}

@media (max-width: 1250px) {
    .layout {
        max-width: 980px;
    }
}

@media (max-width: 1199px) {
    .layout {
        max-width: 992px;
    }
}

@media (max-width:1050px) {
    .layout {
        max-width: 900px;
    }
}

@media (max-width: 992px) {
    .layout {
        max-width: 90%;
    }
}

#header, #footer {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: rgb(242, 242, 242);
}


  /* PRE LOADERS Start */

#loader-wrapper {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
  }
  #loader {
    display:block;
    position: relative;
    top:50%;
    left:50%;
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border:3px solid transparent;
    border-top-color:$green;
    border-radius:100%;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    z-index:1001;
  }
  #loader:before {
    content:"";
    position: absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:3px solid transparent;
    border-top-color: $blue;
    border-radius:100%;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  #loader:after {
    content:"";
    position: absolute;
    top:12px;
    left:12px;
    right:12px;
    bottom:12px;
    border:3px solid transparent;
    border-top-color:$pink;
    border-radius:100%;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  
  #loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background:#000;
    width:51%;
    height:100%;
    z-index:1000;
  }
  
  #loader-wrapper .loader-section.section-left {
    left:0
  }
  #loader-wrapper .loader-section.section-right {
    right:0;
  }
  
  /* Loaded Styles */
  .loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all 0.3s 1s ease-out;
  }

  /* PRE LOADERS END */



.content--center {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

.bg-image {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.w-90 {
    width: 90%;
}

p {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $white;
}