@media (max-width: 1920px) {
    .section1 .content.left form {
        max-width: 630px;
    }
}


@media (max-width: 1250px) {
    .main-title {
        font-size: $main-title-md;
    }

    .section1 .content.left form {
        max-width: 550px;
    }

    .section1 .content.right .title {
        font-size: 34px;
    }
    
    .section1 .content.right .date {
        margin-left: -.5rem;
    }

    .section1 .content.right .sub-title {
        font-size: 18px;
    }

    .section1 .content.right .date {
        font-size: 34px;
    }
}


@media (max-width: 1201px) {
    .main-title {
        font-size: $main-title-md;
    }

    .section1 .content.right {
        align-items: center;
        margin-right: unset;
    }
    .section1 .content.right .title {
        text-align: center;
    }
    .section1 .content.right .date {
        margin-left: unset;
        text-align: center;
    }    
}
 
@media (max-width: 993px) {
    .section0 .content--center {
        align-items: unset;
    }

    .layer-1 {
        position: absolute;
        z-index:    2;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: -10%;
    }

    .section1 .content.left form {
        max-width: 100%;
        padding-top: 2rem;
    }

    .main-title {
        font-size: $main-title-sm;
    }

    #section5 .content .item .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }    

    .mob-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }  
    
    .section1 .content.right .title {
        font-size: 24px;
    }
    .section1 .content.right .date {
        font-size: 28px;
    }

    .section4 .posts {
        padding-top: 5rem;
    }

    .section4 .posts .item.text-center.pb-5 {
        padding-bottom: 0px!important;
    }

    .section4 .posts .ml-xl-auto.mr-xl-auto.post-content.w-75 {
        width: 100%!important;
    }

    .section6 .posts .item {
        width: 80%!important;
    }

    .section6 .posts {
        padding-top: 4rem;
    }
    

}


@media (max-width: 768px) {
    .main-title {
        font-size: $main-title-sm;
    }

    .sub-title {
        font-size: $font-size-base;
    }

    .layout.navbar.bg-dark.navbar.navbar-expand-lg.navbar-dark {
        background-color: black!important;
    }

    p {
        font-size: 16px
    }
    .navbar {
        padding-top: 1em;
    }

    .navbar .navbar-brand .logo {
     width: 120px;
    }
    
    .section1 .content.right .logo {
        padding-bottom: unset;
        width: 100px;
    }

    .section0::after {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .7;
        overflow: hidden;
    }

    .section0 .timer .days {
        border-bottom: 1px solid #00E1FF;
    }

    .section0 .content {
        margin-top: -7em;
    }

    .section0 .timer .register {
        font-size: 20px;
        text-align: center;
        padding: 1em;
        width: 100%;
    }

    .section0 .timer .register br  {
        display: none;
    }

    .section1 .content.left form .form-group input {
        height: unset;
    }

    .section1 .content.left .text {
        font-size: 16px;
        line-height: 1.5;
    }
    .section1 .content.right {
        align-items: flex-start;
    }
    .section1 .content.right .title {
        text-align: left!important;
    }
    .section1 .content.right .date {
        text-align: left!important;
    }
    .section1 .content.right {
        margin-top: unset;
        padding-top: 3rem;
    }   
    .section1 .content.left form .btn {
        float: unset;
        width: 100%;
    }
    .section1 .content.right .logo {
        padding-bottom: unset;
    }
    .section1 .content.left form .form-group {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    } 
    .section1 .content.left form .form-group label {
        font-size: 16px;
    }   

    .section1 .content.left form .btn {
        font-size: 16px;
        font-weight: bold;
    }

    .section3 .content.right {
        display: none;
    }
    .section7 .content .text { 
        font-size: 16px;
    }
    .section7 .content .social a {
        width: 40px;
        height: 40px;
    }

    .section7 .content .social a i {
        font-size: 20px;
    }

    .section7 .content .text-three {
        font-size: 20px;
    }
    .copyright p {
        font-size: 14px;
    }
    .copyright .link {
        font-size: 14px;
    }

    .section6 .posts .item .middle p.text {
        line-height: 1.5;
        font-size: 16px;
    }

    .section6 .content--center {
        align-items: center;
    }
}

@media (max-width: 576px) {
    .section0 .content .title {
        font-size: 34px;
        width: 100%; 
    }
    .section0 .content .date {
        font-size: 34px!important;
    }
    .section0 .content .sub-title {
        font-size: 22px;
    }
    .section0 .timer .size_lg {
        font-size: 34px;
        padding-left: .8em;
        padding-top: .5em;
        padding-right: 1em;
    }
}

@media (max-width: 400px) {
    .owl-prev {
        left: -3%;
    }
    .owl-next {
        right: -3%;
    }
    .section0 .content .title {
        padding-right: .5em
    }
}

/* BLOCK SECTION HEIGHTS */

@media (max-width: 992px) {
    .section0 {
        
    }
    .section1 {
        
    }
    .section2 {
        
    }
    .section3 {
        
    }
    .section4 {
        
    }
    .section5 {
        
    }
    .section6 {
        
    }
    .section7 {
        
    }
    .sub-page{
        
    }
}

@media (max-width: 768px) {
    .section0 {
        
    }
    .section1 {
        
    }
    .section2 {
        
    }
    .section3 {
        
    }
    .section4 {
        
    }
    .section5 {
        
    }
    .section6 {
        
    }
    .section7 {
        
    }
    .sub-page{
        
    }
}

@media (max-width: 576px) {
    .section0.fp-responsive .fp-auto-height-responsive.fp-section {
        height: 700px!important;
    }
    .section1.fp-responsive .fp-auto-height-responsive.fp-section {
        height: 800px!important;
    }

    .section3 {
        
    }
    .section4 {
        
    }
    .section5 {
        
    }
    .section6 {
        
    }
    .section7 {
        
    }
    .sub-page{
        
    }
}

@media (max-width: 485px) {
    .section0 {
        
    }
    .section1 {
        
    }
    .section2 {
        
    }
    .section3 {
        
    }
    .section4 {
        
    }
    .section5 {
        
    }
    .section6 {
        
    }
    .section7 {
        
    }
    .sub-page{
        
    }
}