.section4 {
    .content {
        padding-top: 1rem;

            .title {
                text-align: left;
                font-family: $font;
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                color: $green;
            }
            .sub-title {
                font-family: $font;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: $white;
            }
        }
    .posts {     
        display: flex;
        justify-content: space-around;
        margin: auto;
        
        .item {
            text-decoration: none;

            &:hover {
                color: $pink;
                text-decoration: none;
            }

            .post-wrapper {
                &:hover {
                    color: $pink;
                    text-decoration: none;
                }
            }
              video {
                max-width: 250px;
                border: 1px solid white;
                height: 160px;
                background-color: #000;
                }

                h4 {
                    font-family: $font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: $white;
                    text-align: center;
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }
            }
        }
}


.section4 .posts .item a:hover .title  {
    color: $pink;
}

@media (max-width: 1920px) {
    .section4 .content.left .title {
        font-size: 44px;
    }
    .section4 .content .title {
        font-size: 44px;
    }
}

@media (max-width: 1250px) {

}

@media (max-width: 992px) {

}