.section1 {
    .content.left {
        .title {
        text-align: left;
        font-family: $font;
        font-style: normal;
        font-weight: bold;
        color: $green;
        }
        .text {
            text-align: left;
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: $white;
            line-height: 45px;
        }
        form {   
            padding-top: 5rem; 
            max-width: 714px;
              
            .form-group {
                display: flex;
                flex-direction: row;
                padding-bottom: 3rem;

                label {
                    text-align: left;
                    font-family: $font;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    color: $white;
                    min-width: 150px;
                }

                input {
                    border: 1px solid $blue;
                    border-radius: 0px;
                    background-color: transparent;
                    color: $white;
                    height: 50.501px;
                }

            }
            .btn {
                float: right;
                width: 203px;
                height: 52px;
                background-color: $green;
                font-family: $font;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: $black;
                border: none;

                &:hover {
                    background-color: $blue;
                }
            }
        }
    }
    .content.right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        margin-top: -1rem;
        margin-right: -1rem;

        .logo {
            padding-bottom: 1rem;
        }

      .sub-title  {
        text-align: left;
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: $white;
        }

       .title {
            text-align: left;
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 42px;
            color: $white;
        }
        .date {
            font-family:  $font;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            color:  $green;
            text-align: right;
            width: 100%;
        }
    }
}
