#section7 {
    .content {
        padding-top: 1rem;

            .title {
                text-align: left;
                font-family: $font;
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                color: $green;
            }
            .text {
                font-family: $font;
                text-align: left;
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                color: $white;
            }

            .text-one {

            }

            .text-two {
                
            }

            .text-three {
                
            }

            .link {
                font-style: normal;
                font-weight: bold;
                color: $green;

                &:hover {
                    color: $pink;   
                }
            }

            .social {
                display: flex;
                width: 40%;
                justify-content: space-between;
                align-items: center;

                a {
                    width: 67.806px;
                    height: 67.953px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    border-radius: 50%;
                    margin-bottom: 30px;
                    cursor: pointer;
                    &:hover {
                        background-color: transparent;
                        text-decoration: none;
                        border: 1px solid #fff;
                        
                    }
                    &:hover i {
                        text-decoration: none;
                        color: white;
                    }

                    i {
                        color: #000;
                        font-size: 35px;
                        line-height: 0px !important;
                        position: relative;
                        top: 1px;
                        font-weight: bold;
                    }
                }
            }

        }
        .copyright {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: 2rem;
        
           p {
                font-family: $font;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: $white;
            }
        
            .link {
                font-family: $font;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: $white;
                &:hover {
                    color: $pink;
                    text-decoration: none;
                }
            }
        }
}



@media (max-width: 1920px) {
    #section7 .content.left .title {
        font-size: 44px;
    }
    #section7 .content .title {
        font-size: 44px;
    }
}

@media (max-width: 1250px) {

}

@media (max-width: 992px) {

}